@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"S');

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}
.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}
.logo {
  color: #f9faf8;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  display: flex;
  font-weight: bold;
}
.links {
  list-style-type: none;
  display: flex;
  gap: 16px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
}

.container-1 {
  background-color: #1f2937;
  padding: 100px;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}
.container-1 h1 {
  align-items: flex-start;
  width: 250px;
  height: auto;
  color: white;
}
.container-1 p {
  width: 300px;
  height: auto;
}
